{% extends "main.html" %}{% load static %}
{% block title %}Web Shopping{% endblock %}
{% block content %}

<div class="container-lg">
    <div>
        <form id="frm-recovery-pass" class="mx-auto" style="max-width:700px !important;" method="POST" action="/verification-recovery/">{% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="txt-username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="txt-username" name="username" aria-describedby=""
                        required>
                </div>
            </div>
            <div class="form-group row mt-1">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
            {% if state %}
            {% if message %}
            <div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% else %}
            {% if message %}
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}